body{
  background: url("/images/bg.png");
  background-color: #F3F3F3;
  color:#505050;
}
#copyright {
z-index: -1;
position: fixed;
color: #9E9E9E;
bottom: 20px;
right: 50px;
}

a.mybtn{
    padding:8px;
    background:#009a61;
    color:#fff;
    text-decoration:none;
    border-radius:3px
}
a.redbtn{
    padding:8px;
    background:#C23C4C;
    color:#fff;
    text-decoration:none;
    border-radius:3px
}

.container-fluid  {
    padding-top: 40px;
}
#container{
  background-color: rgba(0,0,0,0.1);
}

.bottom {
    background:#ccc;
    border-top:1px solid #ddd;
    text-align:center;
    min-height:40px;
    line-height:40px
}

.element .hover{
    background-color: rgba(0,0,0,0);
    opacity: 0.1;
    text-align:center;
    height:100%;
    width:100%;
    position: absolute;
    bottom:0;
    z-index: 100;
}

.element .hover:hover{
    background-color: #345;
}
.element .hover a{
  z-index: 101;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
}

#board-info{
  position:fixed;
  top:80px;
  left:10px;
  z-index: 100;
}

.sidebar{
  padding: 10px;
}

#html {
    width:98.5%;
    min-height:200px;  
}

pre {
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
  color: #505050;
  background-color: transparent;
  border:none;
}

.title{
    margin:0 5px;
    border-bottom:1px dotted #ddd;
    padding:2px;
    text-align:center;
    color:#505050;
}


#water-fall {
    padding-left: 80px; 
}


#cont-detail {
    padding:0 20px 40px 20px; 
    margin-left: 0px;
    height:auto;
    background-color: rgba(0,0,0,0.1); 
/*    filter:progid:DXImageTransform.Microsoft.Shadow(color=#909090,direction=60,strength=2);
    -webkit-box-shadow: 1px 2px 5px #909090;
       -moz-box-shadow: 1px 2px 5px #909090;
            box-shadow: 1px 2px 5px #909090;*/
}
#cont-cms {
  padding: 10px;
  /*background: url("/images/cms_bg.png") 0 0 repeat;*/
  background-color: rgba(0,0,0,0.1);
}


.taglabel{
  font-size: 14px;
  text-decoration:none;
  line-height: 14px;
  color: #ddd;
  background-color: #009A61;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  white-space: nowrap;
  vertical-align: baseline;
  padding: 1px 8px 2px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

a.taglabel:hover {
  color: #fff;
 text-decoration: none;
}