<!DOCTYPE html>
<html>
  <head>
    <title>饮水思源·交大bbs站</title>
    <link rel="stylesheet" href="/css/login.css">
  </head>  
  <body>
        <ul class="cb-slideshow">
            <li><span>Image 01</span><div><h3>饮水思源</h3><p>欢迎你的到来</p></div></li>
            <li><span>Image 02</span><div><h3>我爱交大</h3><p>饮水思源</p></div></li>
            <li><span>Image 03</span><div><h3>Maxims版</h3><p>格言版欢迎你</p></div></li>
            <li><span>Image 04</span><div><h3>yanzi版</h3><p>详情关注yanzi版</p></div></li>
            <li><span>Image 05</span><div><h3>聚会</h3><p>精彩的站庆活动</p></div></li>
        </ul>
        <form id="loginform" action="/login" method="post">
          <input class="input"  name="id" type="text" placeholder="用户名"/>
          <input class="input"  name="pswd" type="password" placeholder="密码"/>
          <input class="submit" type="submit" name="submit" value="登录进站"/>
        </form>
  </body>
</html>          