<div id="board-info">
    <h5 class="title">PPPerson(美丽人物)</h5>
    <div style="padding:10px;">
      <p>版主:</p>
      <a style="color:#009a61;text-decoration:none" href="/bbsqry?userid=Oct" target="_blank">Oct</a>            
    </div>
    <div class="bottom">
    </div>
      <div class="btn-group">
        <a class="btn" href="#"><i class="icon-th"></i></a>
        <a class="btn" href="#"><i class="icon-list"></i></a>
      </div>
</div>