<div id="board-info">
  <h5 class="title">PPPerson(美丽人物)</h5>
  <div style="padding:10px">
      <p>版主:</p>
      <a style="color:#009a61;text-decoration:none" href="/bbsqry?userid=Oct" target="_blank">Oct</a>            
  </div>
  <div class="bottom">
      <a href="/bbscont/508fcfc10a26c1056c167657" class="mybtn" target="_blank">查看 ➔</a>
  </div>
</div>